/* ################################## */
            /*Imports*/
/* ################################## */
@import url(responsive.css);
/* ################################## */
            /*Imports*/
/* ################################## */

/* ################################## */
            /*Fonts*/
/* ################################## */
@import url(fonts/);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ################################## */
            /*Fonts*/
/* ################################## */

/* ################################## */
            /*Plugins*/
/* ################################## */
/* Banner cookies */
@import url(plugins/cookies.css);
/* ################################## */
            /*Plugins*/
/* ################################## */

/* Default */
*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}
/* Default */

/* SELECTION para ACTIVAR DEBES DESCOMENTAR */
::selection {
  display: none;
}
/* SELECTION */

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* SCROLLBAR */

/* HTML */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/* HTML */

/* Body */
body {
  background-color: #86969e;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* Cursor */

/* Cursor End*/

/* Pre Loader */

/* Pre Loader End */

.content {
  background-color: #212121;
  color: #c9c2ac;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.menu-container {
  display: flex;
  align-items: center;
}
.menu-margin {
  margin-right: 10px;
}
/* Header End*/

/* Content Container1 */
.content-container1 {
  width: 100%;
  height: auto;
  background-color: #212121;
  color: #c9c2ac;
}

.title-container {
  width: 100%;
  padding-right: 6rem;
  padding-left: 8rem;
}
.title-container h1 {
  font-size: 90px;
}

.title1 {
  display: flex;
  justify-content: space-between;
}
.title2 {
  display: flex;
  justify-content: flex-end;
}

.img-container1 {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
}
.img-container2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img-container3 {
  display: flex;
  justify-content: center;
}

.img-container1 img {
  width: 42vw;
  height: 15vw;
}
.img-container2-a {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}
.img-container2-a img {
  width: 20vw;
}
.video-container {
  display: flex;
}
.video-container2 {
  width: 38vw
}
.img-container2-b {
  margin-left: 20px;
}
.img-container2-b img {
  width: 15vw;
}
.img-container3-a {
  margin-right: 30px;
}
.img-container3-a img {
  width: 15vw;
}
.img-container3-b {
  margin-left: 30px;
}
.img-container3-b img {
  width: 40vw;
  height: 15vw;
}
/* Content Container1 End */

/* Content Container2 */
.content-container2 {
  width: 100%;
  height: 1000px;
  background-color: red;
}
/* Content Container2 End */

/* Content Container */
.content-container3 {
  width: 100%;
  height: 1000px;
  background-color: purple;
}
/* Content Container3 End */

/* Content Container4 */
.content-container4 {
  width: 100%;
  height: 1000px;
  background-color: plum;
}
/* Content Container4 End */

/* Footer */
.footer-container {
  width: 100%;
  height: 1000px;
  background-color: chartreuse;
}

/* Footer End */

/* Body */

/* Fixed's */
  /* Top */
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Top */
  /* Top right */
  .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  /* Top right */
  /* Top left */
  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  /* Top left */

  /* Bottom */
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Bottom */
  /* Bottom right */
  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  /* Bottom right */
  /* Bottom left */
  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  /* Bottom left */
/* Fixed's */