/*Media queries para trabajar Mobile*/
@media  screen and (max-width: 479px){


/* Pre loader */


/* Pre loader End */

/* Header */
.header-container {
    padding: 0;
}

.logo-container img {
    width: 45vw;
}

.menu-container {
    font-size: 10px;
    padding-right: 6vw;
}
/* Header End */

/* Content Container1 */
.title-container {
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: 11vh;
}
.title-container h1 {
    font-size: 32px;
    line-height: 40px;
}

.title1 {
    display: flex;
    justify-content: flex-start;
}
.title1 span {
    display: flex;
}
.title-margin-container1 {
    margin-left: 10px;
}
.title2 {
    display: block;
}

.images-container {
    padding: 0 1rem 0 1rem;
}

.img-container1 {
    margin: 0;
}
.img-container1 img {
    width: 60vw;
    height: 18vh;
}

.img-container2-a img {
    width: 22vw;
    object-fit: cover;
}

.img-container2-b img {
    width: 17vw;
    object-fit: cover;
}

.img-container3-a {
    margin: 0;
}
.img-container3-a img {
    width: 18vw;
    height: 10vh;
    object-fit: cover;
}

.img-container3-b img {
    width: 36vw;
    height: 22vw;
    object-fit: cover;
}

.video-container2 {
    width: 26vw;
    height: 33vh;
    object-fit: cover;
}
/* Content Container1 End*/

/* Content Container2 */
.title-container2 {
    font-size: 10px;
    line-height: 30px;
    padding: 6rem 2rem 0 2rem;
    margin-bottom: 3vh;
}

.title-span {
    display: flex;
}

.title-b{
    display: block;
    margin-left: 10px;
}

.title-c {
    display: block;
}

.image-container2 img {
    width: 55vw;
    height: 60vh;
}

.par-container2 {
    margin-right: 2rem;
    margin-bottom: 10vh;
}

.par-content {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 4rem;
}

.content-button p {
    font-size: 15px;
}

.image-container2 {
    margin: 0;
}

.video-container3 {
    margin-right: 2rem;
}
.video-container3 video {
    width: 25vw;
    height: 26vh;
}
/* Content Container2 End*/

/* Content Container3 */
.content-container3 {
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 100vh;
}

.title-container3 {
    font-size: 18px;
    line-height: 40px
}

.par-content3 {
    display: flex;
    justify-content: center;
}

.par-container3 {
    padding: 0 0 23vh 15vw;
    width: 100vw;
}

.par-content-container3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10vh;
}

.content-button-container3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.arrow-button-container3 img {
    width: 12px;
}
/* Content Container3 End*/

/* Content Container4 */
.content-container4 {
    height: 75vh;
}

.image1-container4 {
    display: none;
}

.image2-container4 {
    order: 2;
    width: 22vw;
    height: 20vh;
}

.image3-container4 {
    order: 4;
    width: 19vw;
    height: 20vh;
}

.image4-container4 {
    order: 1;
    width: 30vw;
    height: 27vh;
}

.image5-container4 {
    order: 3;
    width: 29vw;
    height: 33vh;
}

.image6-container4 {
    display: none;
}

.title-container4 {
    font-size: 23px;
}
/* Content Container4 End*/

/* Footer */
.footer-container {
    height: 70vh;
}

.title-footer {
    font-size: 22px;
}

.social-media {
    font-size: 12px;
}

.privacy-policy {
    font-size: 12px;
    text-decoration: none;
}
/* Footer End*/
}

/*Media queries para trabajar Tablets como las Surfaces*/
@media  screen and (min-width: 480px) and (max-width: 767px){}

/*Media queries para trabajar en tablets com Ipads*/
@media  screen and (min-width: 768px) and (max-width: 1023px){}

/*Media queries para trabajar en pantallas con viejas resoluciones*/
@media  screen and (min-width: 1024px) and (max-width: 1279px){}

/*Media queries para trabajar Pantallas de escritorio tablet con la resolucion promedio de HD*/
@media  screen and (min-width: 1280px) and (max-width: 1439px){}

/*Media queries para trabajar en Pantallas de su mayoria laptops*/
@media  screen and (min-width: 1440px) and (max-width: 1599px){}

/*Media queries para trabajar en pantallas pre-FULLHD*/
@media  screen and (min-width: 1600px) and (max-width: 1919px){}

/*Media queries para trabajar en Pantallas FULLHD y superior*/
@media  screen and (min-width: 1920px){}